<template>
  <div :class="$style.blackOverlay">
    <slot></slot>
  </div>
</template>

<style module>
.blackOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}
</style>

