<template>
  <div :class="$style.serverInfo" v-if="server && serverLoaded">
    <img v-if="serverInfo.iconUrl" :class="$style.serverIcon" :src="serverInfo.iconUrl">
    <div :class="{[$style.noIcon]: !serverInfo.iconUrl, [$style.serverDetails]: true}">
      <span
        :class="$style.serverName"
      >{{ serverInfo.serverName == "" ? "¯\\_(ツ)_/¯" : serverInfo.serverName }}</span>
      <span>{{ serverInfo.onlineNumber }} ONLINE {{ serverInfo.numberOfRegistered }} REGISTERED</span>
      <span>{{ serverHost }}</span>
    </div>
  </div>
  <span v-else-if="!server" :class="$style.serverName">No server selected</span>
</template>

<style lang="scss" module>
.serverInfo {
  display: flex;
}

.serverIcon {
  height: 64px;
  width: 64px;
  min-width: 64px;
}

.serverDetails {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.serverDetails.noIcon {
  margin-left: 0px;
}

.serverName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 24px;
  line-height: 24px;
}
</style>

<script>
import { mapState, mapGetters } from "vuex"

export default {
  computed: {
    ...mapState({
      server: "currentServer",
      serverInfo: "serverInformation",
      serverLoaded: "serverLoaded"
    }),
    serverHost() {
      return new URL(this.server).host
    }
  }
}
</script>

