@font-face {
    font-family: 'Airport Cyr';
    src: url('fonts/Airport-Cyr.ttf');
}

@font-face {
    font-family: 'Akrobat';
    font-weight: 400;
    src: url('fonts/Akrobat-Regular.otf');
}

@font-face {
    font-family: 'Akrobat';
    font-weight: 600;
    src: url('fonts/Akrobat-SemiBold.otf');
}