<template>
  <div class="flex-column">
    <div id="login">
      <template v-if="loggedInAs">
        <p>Logged in as {{loggedInAs}}</p>
        <button class="button-red button-outlined fullwidth" id="logout" @click="logout()">Log out</button>
      </template>
      <template v-else>
        <input type="text" ref="email" class="email" />
        <input type="password" ref="password" class="password" />
        <div class="checkbox">
          <input
            type="checkbox"
            ref="rememberme"
            id="rememberme"
            v-model="rememberMe"
            @change="updateRememberMe()"
          />
          <label for="rememberme">Remember my email address & password</label>
        </div>
        <button
          v-if="serverInfo.passwordResetUrl"
          class="button-red button-outlined fullwidth"
          style="height: 24px"
          @click="openBrowser(serverInfo.passwordResetUrl)"
        >Forgot your password?</button>
        <button
          class="button-green button-outlined fullwidth"
          :disabled="buttonDisabled"
          @click="$router.push('/main/server/register')"
        >Create new account</button>
      </template>
      <button
        class="button-cyanish"
        id="play"
        @click="login"
        :disabled="!serverLoaded || !downloadCompleted || buttonDisabled"
      >{{ !loggedInAs ? "Login and play" : "Play" }}</button>
      <div></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex"
const { remote } = require("electron")

export default {
  data() {
    return {
      rememberMe: false,
      buttonDisabled: false
    }
  },
  computed: {
    ...mapState({
      server: "currentServer",
      serverInfo: "serverInformation",
      serverLoaded: "serverLoaded",
      downloadCompleted: "downloadCompleted"
    }),
    ...mapGetters({
      loggedInAs: "loggedInAs"
    }),
    serverHost() {
      return new URL(this.server).host
    }
  },
  created() {
    this.rememberMe = this.$config.get("rememberMe", false)
  },
  methods: {
    updateRememberMe() {
      this.$config.set("rememberMe", this.rememberMe)
    },
    async login() {
      this.buttonDisabled = true
      if (!this.loggedInAs) {
        await this.$store.dispatch("login", {
          email: this.$refs.email.value,
          password: this.$refs.password.value
        })
      } else {
        await this.$store.dispatch("login", this.$store.state.savedCredentials)
      }
      this.buttonDisabled = false
    },
    logout() {
      this.$store.dispatch("deleteSavedCredentials")
    },
    openBrowser(url) {
      if (!url.startsWith("http:") && !url.startsWith("https:")) {
        return
      }
      require("electron").shell.openExternal(url)
    }
  }
}
</script>
