<template>
  <div class="flex flex-column">
    <label for="gameDir" class="label">Game directory</label>
    <input id="gameDir" type="text" :value="gameDir" @click="selGameDir">
    <label for="cdn" class="label">CDN</label>
    <select id="cdn" v-model="cdn" @change="requireRestart">
      <option :value="null">Automatic</option>
      <option v-for="cdn in cdnList" :value="cdn.url" :key="cdn.url">{{ cdn.name }}</option>
    </select>
    <div class="checkbox">
      <input type="checkbox" id="dlsize" v-model="maxDlSize" @change="requireRestart">
      <label for="dlsize">Maximum download size</label>
    </div>
    <button class="button-cyanish fullwidth" @click="showLogFile">Show log file</button>
    <span>Application version: {{ appVersion }}</span>
    <span>Electron v{{ versions.electron }} / Node v{{ versions.node }}</span>
    <button class="button-red button-outlined fullwidth mt-auto" @click="goBack">Back</button>
  </div>
</template>

<script>
import { promptGameDirectory } from "common/misc"
const { remote } = require("electron")
const got = require("got")

export default {
  data() {
    return {
      gameDir: null,
      cdnList: [],
      willRestart: false,
      versions: {}
    }
  },
  computed: {
    maxDlSize: configGetter("maxDlSize"),
    cdn: configGetter("cdnUrl")
  },
  async created() {
    this.loadConfig()
    this.versions = process.versions
    this.cdnList = (await got(
      "https://gist.githubusercontent.com/redbluescreen/326c0b184dddaca19594cccc47baf4f6/raw/cdnlist.json",
      { json: true }
    )).body
  },
  methods: {
    loadConfig() {
      this.gameDir = this.$config.get("installDir")
    },
    requireRestart() {
      this.willRestart = true
    },
    async selGameDir(evt) {
      evt.target.blur()
      const newGameDir = await promptGameDirectory(remote.getCurrentWindow())
      if (newGameDir) {
        this.$config.set("installDir", newGameDir.dir)
        this.$config.set("maxDlSize", newGameDir.maxDownload)
        this.loadConfig()
      }
      this.requireRestart()
    },
    goBack() {
      if (this.willRestart) {
        remote.getGlobal("restartApp")()
      } else {
        this.$router.push("/main/server/login")
      }
    },
    showLogFile() {
      remote.getGlobal("showLogFile")()
    }
  }
}

function configGetter(prop) {
  return {
    get() {
      return this.$config.get(prop)
    },
    set(val) {
      this.$config.set(prop, val)
    }
  }
}
</script>

